@import './bootstrap-v4/bootstrap';

.card-title-text {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.img {
  height: 25rem;
  width: 16rem;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    margin: 10px;
    width: 258px;
  }
}